
.icon-basket:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-audio-description:before { content: '\f29e'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
